.jumbotron
  %h1 Hello World!
  %h3 Welcome To The Color Palette Generator
  = link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary"
  = link_to "Sign in",      new_user_session_path, class: "btn btn-large btn-primary"

