.jumbotron
  .colorCircle
  .introText
    %h1 Hello World!
    %h3 Welcome To The Color Palette Generator
    -if user_signed_in?
      = link_to "Browse All", explore_path, class: "btn btn-large btn-primary"
      = link_to "Create New",  new_path, class: "btn btn-large btn-primary"
    -else
      = link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary"
      = link_to "Sign in",      new_user_session_path, class: "btn btn-large btn-primary"

