.show{
  width: 90%;
  margin: 0 auto;
  .info{
    width: 100%;
    background: #123e56;
    color: white;
    position: relative;
    height: 40px;
    .left{
      font-size: 2rem;
      padding: 2.5px;
      position: absolute;
      left: 2.5px;
      bottom: 2.5px;
    }
    .right{
      position: absolute;
      right: 5px;
    }
  }
  .fontColors{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: no-wrap;
    text-align: right;

  }
  .showBox{
    display: inline-block;
    width: 25%;
    height: 200px;
    position: relative;
    .textStyle, .colorStyle{
      position: absolute;
      bottom: 40px;
      right: 5px;
      font-size: 1.2em;
    }
    .hexCopy{
      position: absolute;
      right: 5px;
      bottom: 0;
      font-size: 2em;
    }
  }
  .primaryBack, .primaryDarkBack, .accentBack{
      // margin: 0 -10px;
  }
  .cc{
    color: #212121;
  }
  .primaryTextL{
    background: #ffffff;
    color: #7d7d7d;
  }
  .secondaryTextL{
    background: #bcbcbc;
    color: #5c5c5c;
  }
  .disabledTextL{
    background: #646464;
    color: #f6f6f6;
  }
  .dividerTextL{
    background: #3c3c3c;
    color: #c3c3c3;
  }
  .primaryTextD{
    background: #212121;
    color: #d8d8d8;
  }
  .secondaryTextD{
    background: #f7f7f7;
    color: #5c5c5c;
  }
  .disabledTextD{
    background: #9b9b9b;
    color: #494949;
  }
  .dividerTextD{
    background: #3c3c3c;
    color: #c3c3c3;
  }
  .bottomBorder{
    width: 100%;
    background: #123e56;
    height: 20px;
  }
}
