.savedPalettes {
}

.savedPaletteContainer{
  border: 3px solid slategrey;
  padding: 0;
  display: block;
  margin: 10px;
  height: 150px;
  position: relative;
  overflow: hidden;
  .info{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #212121;
    color: white;
    .created_at{
      text-align: right;
    }
  }
  .colors {
    position: absolute;
    height: 100%;
    width: 100%;
    *{
      z-index: -1;
      float:left;
      padding: 0;
      width: 25%;
      height: 100%;
    }
  }
}


