.header{
  *{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.savedPalettes {
}

.center{
  margin: 15px auto;
}

.row .col-md-6{
  padding: 15px 30px;
}

.savedPaletteContainer{
  border: 3px solid slategrey;
  padding: 0;
  margin: 5px auto;
  height: 150px;
  max-width: 90%;
  position: relative;
  overflow: hidden;
  .info{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #212121;
    color: white;
    .created_at{
      text-align: right;
      margin-top: 5px;
      margin-right: 10px;
    }
  }
  span{
    bottom: 3px;
    font-size: 1.2rem;
  }
  .name{
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .colors {
    position: absolute;
    height: 100%;
    width: 100%;
    *{
      z-index: -1;
      float:left;
      padding: 0;
      width: 25%;
      height: 100%;
    }
  }
}

