*{
  box-sizing: border-box;
}
.container-fluid{
//   padding-left: 0;
//   padding-right: 0;
}
main{
  margin-top: 70px;
}

.alert{
  margin-top: 70px;
  margin-bottom: -40px;
}

.alert-danger{
  margin-bottom: 10px;
}

.hidden{
  display:none;
}

.jumbotron {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1{
  text-align: center;
}

.colorCircle {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  transition: 1s linear;
}


.colorBoxes{
  margin-left: -15px;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-flow: row wrap;
}

.backgrounds{
  position:fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.background1, .background2, .background3, .background4{
  display: inline-block;
  transition: .500s ease-out;
  height: 100%;
  width: 25%;

}
.background2, .background3, .background4{
  margin-left: -4px;
}
.background1{
  left: 0;
}
.background2{
  left: 25%;
}
.background3{
  left: 50%;
}
.background4{
  left:75%;
}

.colorBox{
  height: 13vw;
  width: 13vw;
  min-width: 175px;
  min-height: 175px;
  margin: 3px;
  border: 1px solid #717171;
  transition: display .5 ease-out;
  transition: transform .250s ease-in;
  position: relative;
  // display: inline-block;

  .renderName{
    position: absolute;
    font-size: 120%;
    top: 10px;
    right: 10px;
  }
  .renderHex{
    position: absolute;
    font-size: 150%;
    bottom:-5px;
    right: 10px;
  }
}

input[name="commit"]{
  margin-top: -300px;
}
