%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to "MDL Colors", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right= render 'layouts/navigation_links'
